@import url(http://bit.ly/1RmvUQ0); /* Sans */
@import url(http://bit.ly/1GodBcP); /* Roboto (The Android Font) */

/* add a #226B6B as a dark  */
/* add a #B26F39 as a light */

/* use #062121 as a dText   */
/* use #001919 as a dText   */

/* use #006C6C as a mText   */

body {
    background-color:black;
}
h1, h2, h3, h4, h5 {
	font-family: 'PT Sans';
}

a, p, li {
	font-family: 'Roboto';
}
#fixedBoxDiv {
	color: #55FFFF;
	position: fixed;
	top: 0px;
	height: 375px;
	background: #080808;
    z-index:-1;
}
#menuBoxDiv {
	padding-top: 3px;
	position: absolute;
	top: 375px;
	height: 47px;
	background: #F5F5F5;
	z-index: 1;
}

#about {
	position: absolute;
	top: 425px;
	background: #F5F5F5;
	color: #062121;
	height: 1125px;
}
#projects {
	position: absolute;
	top: 1550px;
	background: #006C6C;
	color: #F5F5F5;
}
#about p {
	color: #001919;
	margin-top: 5px;
}
.boxDiv {
	left: 0px;
	right: 0px;
	text-align: center;
	width: auto;
}
.boxDiv h1 {
	font-size: 3.75em;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
}
.boxDiv p {
	font-size: 1.5em;
	margin-top: 0px;
}
.navButton {
	color: #062121;
	font-size: 2em;
	text-decoration: none;
	transition: color .5s;
	-webkit-transition: color .5s;
	-moz-transition: color .5s;
}
.navButton a:hover {
	color: #EE0000;
}

.roundedRectangle {
	border-radius: 25px;
	border: 2px solid #E46700;
	display: inline-block;
}
#blackGradient {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 325px;
	width: auto;
	height:50px;
	background: -moz-linear-gradient(top, rgba(8,8,8,0) 0%, #080808 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,#080808));
	background: -webkit-linear-gradient(top, rgba(8,8,8,0) 0%, #080808 100%);
	background: -o-linear-gradient(top, rgba(8,8,8,0) 0%, #080808 100%);
	background: -ms-linear-gradient(top, rgba(8,8,8,0) 0%, #080808 100%);
	background: linear-gradient(to bottom, rgba(8,8,8,0) 0%, #080808 100%);
}
