@import url(http://bit.ly/1RmvUQ0); /* Sans */
@import url(http://bit.ly/1GodBcP); /* Roboto (The Android Font) */

h1, h2, h3, h4, h5 {
	font-family: 'PT Sans';
}

a, p, li {
	font-family: 'Roboto';
}

.boxDiv {
	background: #000000;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	color: #66FFFF;
	padding: 20px;
	text-align: center;
	width: 100%;
}
.boxDiv h1 {
	font-size: 1.5em;
}
.boxDiv p {
	font-size: 1.25em;
}
